@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400;700;800&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

body {
  background-color: rgb(233, 247, 237);
}

li {
  display: list-item;
  list-style-position: inside;
}